ul {
  list-style: none;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  object-fit: cover;
}

// margin top right after the navbar
.margin-top {
  margin-top: 75px;
}

@media(max-width: 576px) {
  .margin-top {
    margin-top: 150px;
  }
}
