<div class="container">
  <div class="d-flex row">
  <%= render "bookings/card_pending" %>

  <%= render "bookings/card_accepted" %>

  <%= render "bookings/card_rejected" %>

  <%= render "bookings/card_end" %>

  </div>
</div>
