<div class="container my-5">
  <h1>Bookings</h1>
  <p>Here you can find all your bookings to lessons.</p>
  <p>You can find lessons awaiting approval, lessons you are attending, previous lessons, and cancelled lessons.</p>
  <hr class="mt-5">

  <%= render "bookings/booking_card" %>

</div>
