<div class="landing" style="background-image: url(https://images.unsplash.com/photo-1556910109-a14b4226abff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80)">
  <div class="container landing-content">
    <h1>Planning to learn how to cook?</h1>
    <p class="fw-bold text-white">Learn Local. What's around the corner?</p>
    <%= link_to "Discover Lessons around you.", lessons_path, class: "btn btn-success" %>
  </div>
</div>

<section class="py-5">
  <div class="container">
    <h2>Welcome to an open world of local culinary experiences</h2>
    <p>Kitschy. A Kitchen for you, friends, family and everyone. Meet local and discover cooking lessons offered by local teachers. </p>
    <p>Connect with fellow foodies in your area. Create unique cuisines as people share with you their cuisine, food, kitchens and skills.</p>
  </div>
</section>

<section class="background py-5">
  <div class="container">
    <h2>Teach others how to cook your favourite dishes</h2>
    <p>Do you have a receipe you are confident in cooking? Why not share that locally? You can join Kitschy as a teacher!</p>
    <p>Teach Local. Build Connection. Discover the community around you. Share your favourite dishes. Kitschy enables you to share your dish to the world. To people who are open to finding a new discovery. Local classes with local people. Come be a teacher at Kistchy</p>
    <% if user_signed_in? %>
      <%= link_to "Teach with Kitschy", "#", class: "btn btn-success" %>
    <% else %>
      <%= link_to "Create an account", new_user_registration_path, class: "btn btn-success"  %>
    <% end %>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h2>What our users say about Kitschy</h2>
      <div class="container testimony-container mt-4 row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="testimony">
            <div class="quote">
              <i class="fa fa-solid fa fa-quote-left"></i>
              <p>Amazing</p>
            </div>
            <div class="user">
              <p class="fw-bold">Maria C.</p>
              <p>Teacher at Kitschy</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="testimony">
            <div class="quote">
              <i class="fa fa-solid fa fa-quote-left"></i>
              <p>I discovered a new world of baking cookies!</p>
            </div>
            <div class="user">
              <p class="fw-bold">Junsuke W.</p>
              <p>Participant at Kitschy</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
         <div class="testimony">
            <div class="quote">
              <i class="fa fa-solid fa fa-quote-left"></i>
              <p>I love meeting the world at my doorstep</p>
            </div>
            <div class="user">
              <p class="fw-bold">M </p>
              <p>Teacher at Kitschy</p>
            </div>
          </div>
        </div>


      </div>
  </div>
</section>
