<div class="lists-container">
    <% @lessons.each do |lesson| %>
      <hr>
      <div class="list d-flex justify-content-between align-items-center">
        <p class="card-title mb-0"><%= lesson.name %></p>
        <div class="buttons d-flex">
          <%= link_to 'Details', lesson_path(lesson), class: "btn btn-success me-2 btn-sm" %>
          <%= link_to 'Edit', edit_lesson_path(lesson), class: "btn btn-lightgreen me-2 btn-sm" %>
          <%= link_to 'Delete', lesson_path(lesson), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this lesson?"}, class: "btn btn-secondary btn-sm" %>
        </div>
      </div>
    <% end %>
</div>
