<section class="row">
  <div class="col-12 col-md-4">
    <h2 class="mb-4">Location</h2>
    <p class="fw-bold"><%= @lesson.address %></p>
    <ul class="p-0">
      <p class="mb-1">Access Instructions:</p>
      <li class="mb-1">From the station exit the north gates and head up the hill. </li>
      <li class="mb-1">After walking for 5 minutes you will see a children's park with a giant tree. It has a panda toy. Turn right towards the east, in front of the park. </li>
      <li class="mb-1">Along the road you will see big trees, they are pretty in spring with blossoms. About 5 mins you will see brown house made of bricks.</li>
      <li class="mb-1">There will be a red door with flowers hanging from the door handle.</li>
    </ul>
  </div>

  <div class="col-12 col-md-8">
    <%= image_tag('map.png') %>
  </div>
</section>
