// card in booking index
.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  img {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

.timenotice {
  padding: 3px;
  & > p {
    margin-bottom: 0;
  }
}
.bg-maingreen {
  border: solid 1px $green;
  background-color: $green;
}

.bg-lightgreen {
  border: solid 1px $lightgreen;
  background-color: $lightgreen;
}




// card in lesson index
.lesson-tags {
  & > ul {
    & > li {
      font-size: 0.68rem;
    }
  }
}

.card-bottom {
  & > h5 {
    width: 60%;
  }
  & > .btn {
    width: 40%;
  }
}
