// card in booking index
.timenotice {
  padding: 3px;
  & > p {
    margin-bottom: 0;
  }
}
.bg-maingreen {
  border: solid 1px $green;
  background-color: $green;
}


// card in lesson index
.lesson-tags {
  & > ul {
    & > li {
      font-size: 0.68rem;
    }
  }
}

.card-bottom {
  & > h5 {
    width: 60%;
  }
  & > .btn {
    width: 40%;
  }
}
