.landing {
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .landing-content {
    padding: 50px 10px;
    h1 {
      font-size: 60px;
      color: #fff;
      font: bold;
    }

    p {
      font-size: 20px;
    }

    h1, p {
      text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    }

  }
}

.background {
  background: $lightgreen;
}

.testimony {
  margin-bottom: 20px;
  padding: 0;
  box-shadow: 0px 1px 5px rgb(161, 161, 161);
  p {
    margin: 0px;
  }
  .quote {
    padding: 20px;
    i {
      font-size: 40px;
      color: grey;
    }
  }
  .user {
    padding: 10px;
    background: lightgray;
  }
}
