.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-size: 30px;
  font-family: $logo;
}

.search {
  width: 500px;
  padding: 10px 0px;
}

@media (max-width: 992px) {
  .search {
    width: 100%;
    display: block;
  }
}
