.photo-box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  img {
    height: 100%;
    width: 100%;
  }
  @media(max-width: 768px) {
    .photo-box {
      background: yellow;
      width: 100%;
      height: 300px;
    }
  }
}


.h1-form {
  padding-top: 80px;
  margin: 0px 16px;
}

#new_lesson {
  margin: 68px 16px;
}
